@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-mulish: "Mulish", sans-serif;
  --font-eduhand: "Edu SA Hand", cursive;
}

body{
    background-color: #eff3fe;
}
a .active{
    border-bottom: #224ab9;
}